.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: ease-in 0.6s all;
}
.search {
  background: #2091f9;
  width: 40px;
  height: 100%;
}
.search > svg {
  color: white;
  padding-top: 10px;
}
.searchbar {
  display: flex;
  background: rgba(128, 128, 128, 0.301);
  height: 40px;
  width: 500px;
  justify-content: center;
}
.searchbar > input {
  flex: 1;
  outline: none;
  background: rgba(128, 128, 128, 0.329);
  border: none;
  color: black;
}
.searchbar > select {
  outline: none;
  background: rgba(128, 128, 128, 0.329);
  border: none;
  border-left: 1px rgba(0, 0, 0, 0.329) solid;
}
.searchbar > option {
  outline: none;
  background: none;
  border: none;
}
.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.topLeftNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topLeftNav > svg {
  margin-left: 10px;
}
li {
  list-style: none;
}
.navbottom {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
.navtransform {
  position: absolute;
  top: 30px;
  right: 200px;
  width: 30%;
  transition: ease-in-out 0.6s all;
}
.navColor {
  background: black;
  color: white;
  display: flex;
  transition: ease-in 0.3s all;
}
.navColor a {
  color: white;
}
.navlink {
  font-size: 20px;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.signup a {
  color: white;
}
.topLeftNav svg {
  font-size: 30px;
}
@media screen and (max-width: 700px) {
  .topLeftNav {
    display: none;
  }
  .navtransform {
    position: absolute;
    top: 70px;
    left: 90px;
    width: 50%;

    transition: ease-in-out 0.6s all;
  }
  .logo {
  }
  .navtop {
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
